@red : #a00;
.clearfix{
  *zoom: 1;

  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}
.border_radius(@radius) {
  border-radius: @radius;
}
.iconbeforedashicons(@glyph){
  font-family: 'Dashicons';
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  margin-right: .618em;
  content: @glyph;
  text-decoration: none;
}
.icon_dashicons(@glyph) {
  font-family: 'Dashicons';
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  text-indent: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  content: @glyph;
}
.ir() {
  display: block;
  text-indent: -9999px;
  position: relative;
  height: 1em;
  width: 1em;
}
#photo_gallery {
  .inside {
    margin: 0;
    padding: 0;

    .add_vessel_images {
      padding: 0 12px 12px;
    }

    #vessel_images_container {
      padding: 0 0 0 9px;

      ul {
        .clearfix;
        margin: 0;
        padding: 0;

        li.image,
        li.add,
        li.ya-metabox-sortable-placeholder {
          width: 80px;
          float: left;
          cursor: move;
          border: 1px solid #d5d5d5;
          margin: 9px 9px 0 0;
          background: #f7f7f7;
          position: relative;
          box-sizing: border-box;
          .border_radius(2px);

          img {
            width: 100%;
            height: auto;
            display: block;
          }
        }

        li.ya-metabox-sortable-placeholder {
          border: none;
          outline: 3px dashed #dddddd;
          position: relative;

          &:after {
            .icon_dashicons( "\f161" );
            font-size: 2.618em;
            line-height: 72px;
            color: #ddd;
          }
        }

        ul.actions {
          position: absolute;
          top: -8px;
          right: -8px;
          padding: 2px;
          display: none;

          li {
            float: right;
            margin: 0 0 0 2px;

            a {
              width: 1em;
              height: 1em;
              margin: 0;
              height: 0;
              display: block;
              overflow: hidden;

              &.tips {
                cursor: pointer;
              }
            }

            a.delete {
              .ir();
              .border_radius(50%);
              background: white;
              font-size: 1.4em;

              &:before {
                .icon_dashicons( "\f153" );
                color: #999;
              }

              &:hover {
                &:before {
                  color: @red;
                }
              }
            }
          }

          .edit-photo-categories-dropdown {
            position: relative;
            background: #ffffff;
            border: 1px solid #cccccc;
            width: 120px;
            padding: 1em;
            margin-right: -2em;
            margin-top: 70px;
            z-index: 10;

            &:after, &:before {
              bottom: 100%;
              left: 50%;
              border: solid transparent;
              content: " ";
              height: 0;
              width: 0;
              position: absolute;
              pointer-events: none;
            }

            &:after {
              border-color: rgba(255, 255, 255, 0);
              border-bottom-color: #ffffff;
              border-width: 10px;
              margin-left: -10px;
            }

            &:before {
              border-color: rgba(204, 204, 204, 0);
              border-bottom-color: #cccccc;
              border-width: 11px;
              margin-left: -11px;
            }
          }
        }


        li:hover ul.actions {
          display: block;
        }
      }
    }
  }
}

#vessel_specification{
  .panel-wrap {
    background: #fff;
  }

  .yatco_options_panel,
  .ya-metaboxes-wrapper {
    float: left;
    width: 80%;

    .ya-radios {
      display: block;
      float: left;
      margin: 0;

      li {
        display: block;
        padding: 0 0 10px 0;

        input {
          width: auto;
        }
      }
    }
  }
}

#vessel_specification{
  .inside {
    margin: 0;
    padding: 0;
  }
  .panel-wrap {
    overflow: hidden;
  }

  ul.ya-tabs {
    margin: 0;
    width: 20%;
    float: left;
    line-height: 1em;
    padding: 0 0 10px;
    position: relative;
    background-color: #fafafa;
    border-right: 1px solid #eee;
    box-sizing: border-box;

    &:after {
      content: "";
      display: block;
      width: 100%;
      height: 9999em;
      position: absolute;
      bottom: -9999em;
      left: 0;
      background-color: #fafafa;
      border-right: 1px solid #eee;
    }

    li {
      margin: 0;
      padding: 0;
      display: block;
      position: relative;

      a {
        margin: 0;
        padding: 10px;
        display: block;
        box-shadow: none;
        text-decoration: none;
        line-height: 20px !important;
        border-bottom: 1px solid #eee;

        &:before {
          .iconbeforedashicons( "\f107" );
        }
      }

      &.general_options {
        a:before {
          content: "\f180";
        }
      }
      &.contact_options {
        a:before {
          content: "\f525";
        }
      }
      &.dimensions_options {
        a:before {
          content: "\f211";
        }
      }
      &.engine_options {
        a:before {
          content: "\f111";
        }
      }
      &.capacities_options {
        a:before {
          content: "\f106";
        }
      }
      &.historical_options {
        a:before {
          content: "\f508";
        }
      }
      &.guest_area_options {
        a:before {
          content: "\f110";
        }
      }
      &.crew_areas_options {
        a:before {
          content: "\f110";
        }
      }
      &.location_options {
        a:before {
          content: "\f230";
        }
      }
      &.measurements_options {
        a:before {
          font-family: 'yatco';
          content: "\e901";
        }
      }
      &.additional_options {
        a:before {
          content: "\f533";
        }
      }
      &.media_options {
        a:before {
          content: "\f126";
        }
      }
      &.official_num_options {
        a:before {
          content: "\f204";
        }
      }
      &.official_num_options {
        a:before {
          content: "#";
        }
      }
      &.sale_options {
        a:before {
          content: "\20AC";
        }
      }
      &.charter_options {
        a:before {
          content: "\20AC";
        }
      }


      &.active {
        a {
          color: #555;
          position: relative;
          background-color: #eee;
        }
      }
    }
  } 
}
.yatco_options_panel {
  min-height: 175px;
  box-sizing: border-box;
  display: none;

  .downloadable_files {
    padding: 0 9px 0 162px;
    position: relative;
    margin: 9px 0 9px;

    label {
      position: absolute;
      left: 0;
      margin: 0 0 0 12px;
      line-height: 24px;
    }
  }

  p {
    margin: 9px 0;
  }

  p.form-field,
  fieldset.form-field {
    padding: 5px 20px 5px 162px !important; /** Padding for aligning labels left - 12px + 150 label width **/
  }

  .sale_price_dates_fields {
    .short:first-of-type {
      margin-bottom: 1em;
    }

    .short:nth-of-type(2) {
      clear: left;
    }
  }

  label,
  legend {
    float: left;
    width: 150px;
    padding: 0;
    margin: 0 0 0 -150px;

    .req {
      font-weight: 700;
      font-style: normal;
      color: $red;
    }
  }

  .description {
    padding: 0;
    margin: 0 0 0 7px;
    clear: none;
    display: inline;
  }

  .description-block {
    margin-left: 0;
    display: block;
  }

  textarea,
  input,
  select {
    margin: 0;
  }

  textarea {
    height: 3.5em;
    line-height: 1.5em;
    vertical-align: top;
  }

  input[type="text"],
  input[type="email"],
  input[type="number"],
  input[type="password"] {
    width: 50%;
    float: left;
  }

  input.button {
    width: auto;
    margin-left: 8px;
  }

  select {
    float: left;
  }

  input[type="text"].short,
  input[type="email"].short,
  input[type="number"].short,
  input[type="password"].short,
  .short {
    width: 50%;
  }

  .sized {
    width: auto !important;
    margin-right: 6px;
  }

  .options_group {
    border-top: 1px solid white;
    border-bottom: 1px solid #eee;
    &:after{
      visibility: hidden;
      display: block;
      font-size: 0;
      content: " ";
      clear: both;
      height: 0;
    }

    &:first-child {
      border-top: 0;
    }

    &:last-child {
      border-bottom: 0;
    }
    .form-field-unit{
      input{
        margin-right: 10px;
      }
    }

    fieldset {
      margin: 9px 0;
      font-size: 12px;
      padding: 5px 9px;
      line-height: 24px;

      label {
        width: auto;
        float: none;
      }

      ul {
        float: left;
        width: 50%;
        margin: 0;
        padding: 0;

        li {
          margin: 0;
          width: auto;

          input {
            width: auto;
            float: none;
            margin-right: 4px;
          }
        }
      }

      ul.wc-radios {
        label {
          margin-left: 0;
        }
      }
    }
  }

  .dimensions_field {
    .wrap {
      display: block;
      width: 50%;

      input {
        width: 30.75%;
        margin-right: 3.8%;
      }

      .last {
        margin-right: 0;
      }
    }
  }

  &.padded {
    padding: 1em;
  }

  .select2-container {
    float: left;
  }
}
.yatco_options_panel,
.panel {
  padding: 9px;
  color: #555;
  padding: 0;

  .form-field {
    .woocommerce-help-tip {
      font-size: 1.4em;
    }    
  }
}

.yatco_options_panel p,
.yatco_options_panel fieldset.form-field {
  margin: 9px 0;
  font-size: 12px;
  padding: 5px 9px;
  line-height: 24px;
  &.col-2{
    width: 50%;
    min-width: 400px;
    display: inline-block;
    box-sizing: border-box;
  }

  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

.yatco_options_panel{
  .checkbox{
    width: auto;
    margin: 3px 0;
    vertical-align: middle;
  }

  .ya-repeater-table{
    tr{
      input{
        width: 100%;
      }
      .actions{
        width: 20px;
        vertical-align: middle !important;
        a{
          display: block;
          font-size: 1.2em;
          height: 1em;
          position: relative;
          text-indent: -9999px;
          width: 1em;
          &:before{
            color: #999;
            content: "\f153";
            font-family: Dashicons;
            font-variant: normal;
            font-weight: 400;
            height: 100%;
            left: 0;
            line-height: 1;
            margin: 0;
            position: absolute;
            text-align: center;
            text-indent: 0;
            text-transform: none;
            top: 0;
            width: 100%;
          }
          &:hover{
            &:before{
              color: #a00;
            }          
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 500px) {
  .yatco_options_panel label,
  .yatco_options_panel legend {
    float: none;
    width: auto;
    display: block;
    margin: 0;
  }

  .yatco_options_panel fieldset.form-field,
  .yatco_options_panel p.form-field {
    padding: 5px 20px 5px 20px !important;
  }
}
/**
 * Small screen optimisation
 */
@media only screen and (max-width: 1280px) {
  
  .yatco_options_panel {
    .description {
      display: block;
      clear: both;
      margin-left: 0;
    }

    .short,
    input[type="text"].short,
    input[type="email"].short,
    input[type="number"].short,
    input[type="password"].short,
    .dimensions_field .wrap {
      width: 80%;
    }
  }
}